@import "colors";
@import "fonts";
@mixin button-size {
    width: 210px;
    height: 40px;
}

@mixin button-text {
    margin: auto;
    text-align: center;
    @include text;
}

@mixin create-button($button_name, $button_color, $hover_color, $active_color) {
    .#{$button_name}-button {
        background-color: $button_color;
        border-radius: 15px;
        display: flex;
        align-items: center;
        @include button-size();
        &:hover {
            background-color: $hover_color;
        }
        &:active {
            background-color: $active_color;
        }
        &__text {
            @include button-text();
        }
        color: black;
    }
}

@include create-button(main, $main_button_color, $main_button_hover_color, $main_button_pressed_color);
@include create-button(secondary, $secondary_button_color, $secondary_button_hover_color, $secondary_button_pressed_color);
// .main_button {
//     background-color: $main_button_color;
//     border-radius: 15px;
//     @include button-size();
//     &:hover {
//         background-color: $main_button_hover_color;
//     }
//     &:active {
//         background-color: $main_button_pressed_color;
//     }
// }