$main_button_color: #FFC872;
$main_button_hover_color: #F2C071;
$main_button_pressed_color: #E7A847;
$secondary_button_color: #EA66FF;
$secondary_button_hover_color: #DC5DF1;
$secondary_button_pressed_color: #D04AE5;
$switch_tab_color: #DEDEDE;
$star_color: #FFC700;
$header_color: #FFD27B;
$non-active-color: #7C7B7B;