@import "colors";
@import "fonts";
@mixin input {
    border-width: 0.2px;
    border-color: black;
    width: 243px;
    height: 42px;
    @include text;
}

@mixin orders-form-input {
    border-width: 0.2px;
    border-color: black;
    color: $non-active-color;
    width: 308px;
    height: 41px;
    @include text;
}

.input {
    @include input;
}

.orders-form-input {
    @include orders-form-input;
}